*{
    margin:0 auto;
    width:auto;
   
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #999;
}
header #logo{
    padding-top:10px;
    width: 150px;
}
header #logo img{
    width: 100%;
}
header #ident{
    width: 50vw;
    margin-top:20px;
}
header #ident h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}
header #icon-menu{
    padding-top:10px;
    width: 110px;
}
header #icon-menu img{
    width: 100%;
}
body{
    background-color:#808080;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin-top:100px;
    text-align: center;
    justify-content: center;
}
input{
    display:inline;
    height:45px;
    font-size:14pt;
}
button{
    height:45px;
    font-size: 14pt;
}
#termo{
    align-items:flex-end;
    display:flex;
}
@media only screen and (max-width:700px){
    input{
        display:block;
    }
    header #ident{
        margin:20px;
    }
    header #ident h1{
        font-size:9vw;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }
}